@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  box-sizing: border-box;
}
div {
  text-align: center;
  display: block;
}
body {
  background-color:#13334c; /* head color */
  /* background: linear-gradient(100deg,#FF5722,#00ADB5); */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #5a5959;
  margin: 0;
}
input {
    width: 50%;
    padding: 10px;
    margin: 5px 0 10px;
    font-size: 18px;
    outline: 0;
    border: 1px #bbb solid;
    border-radius: 4px;
    background-color: #fff;
    color: #5a5959;
    font-family: 'Montserrat', sans-serif;
}
textarea {
	  width: 50%;
    padding: 10px;
    margin: 5px 0 10px;
    font-size: 18px;
    outline: 0;
    border: 1px #bbb solid;
    border-radius: 4px;
    background-color: #fff;
    color: #5a5959;
    font-family: 'Montserrat', sans-serif;
}
button {
	cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #5a5959;
  /* color: white; */
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  margin: 0.67em;
}
.head {
  height: 50vh;
}
.menu {
  text-align: center;
  padding-top: 2vh;
  /* box-sizing: initial; */
  top 0;
}
.menu1 a {
  display: inline-block;
  height: 20px;
  margin: 0 15px;
  vertical-align: middle;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Amatic SC', cursive;
}
.hi {
  width: 100%;
  text-align: center;
  padding-top: 8vh;
  min-height: 45.8vh;
}
.hi h1 {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}
.body {
  background-color: #005792; /* Body color */
  box-sizing: border-box;
  display: block;
}
.body h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  color: white;
  font-size: 80px;
  padding-top: 20px;
}

/* Experience */
.image.partial {
    /* width: 23.61%; */
    margin: 0 18px 9px 0;
    float: left;
}
.urverPic {
  width: 210px;
  height: 210px;
}
.pseudpPic {
  width: 210px;
  height: 210px;
}
/* Experience Section */
.exp {
  margin: 4vh 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
}

.exp2 {
  margin: 4vh 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
}
.exp3 {
  margin: 4vh 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
}
/* Portfolio Section */
.port {
  margin: 4vh 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
}
.codePic {
  text-align: center;
  padding-top: 15px;
}
#codeId {
  max-width: 100%;
  height: auto
}

/* About Me Section */
.aboutMe {
  margin: 4vh 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  text-align: left;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
}
.text {
  line-height: 1.5;
  margin: 0px;
}
/* Mail Section */
.mail {
  text-align: center;
}
#email_form input {
  margin: 10px;
}
/* Footer Section */
#footer {
  color:white;
}
#footer a {
  color: white;
}
#font a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: 'Amatic SC', cursive;
}
/* Responsive Stuff */
@media (max-width: 576px) {
/* h1 {
  font-size: 20px;
} */
  }



}
